{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <form id="download-form">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="url-input" placeholder="Enter playlist URL" required>
        </div>
        <button type="submit" class="btn btn-primary">Fetch Playlist</button>
    </form>

    <div id="playlist-info" class="mt-3"></div>
    <div id="video-list-container" class="mt-3 d-none">
        <div id="playlist-details" class="mb-2"></div>
        <div id="video-list"></div>
    </div>
</div>
{% endblock %}